/*=========================================================================================
    File Name: laravel-menu.scss
    Description: laravel Specific menu styles
    ----------------------------------------------------------------------------------------
    Item name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/

// Core variables and mixins
@import "bootstrap/functions";
@import "bootstrap/mixins";
@import "bootstrap-extended/mixins";

// Core variables and mixins overrides
@import "core/variables/variables";
@import "bootstrap/variables";

// Overrides user variable
@import "core/variables/components-variables";

// Import first main menu mixin
@import "core/mixins/main-menu-mixin";

//  Vertical menu
//=========================
body.vertical-layout {
   &.vertical-menu-modern {
        .horizontal-menu-wrapper{
            display: none;
        }
    }
}

// Horizontal Menu
//=========================
.horizontal-menu{
    // Hide Vertical menu in Horizontal Layout in Laravel not in HTML
	>.main-menu{
		display: none;
	}
	.fixed-top{
		left: 0;
	}
}

// content style
//=========================
html body.navbar-static .app-content .header-navbar {
    background: transparent;
    box-shadow: none !important;
}

.dropzone {
  border: 2px dashed #ededed;
  position: relative;
  padding: 15px;
  .dz-message {
    color: #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    top: 0;
    height: 100%;
    &:before {
        color: #d4d4d4;
    }
  }
}

.error{
  color: #ea5455;
  &.form-control {
    border-color: #ea5455;
  }
}

table.dataTable.compact-table {
    td {
        padding: 0.6rem 1rem;
    }
    .action-btn button {
        padding: 10px;
        margin: 0 !important;   
    }
}

.cws-alert {
    
    .alert {
        margin-bottom: 0;
        position: fixed;
        bottom: 0;
        float: left;
        width: 100%;
        text-align: center;
        z-index: 9999;
        border-radius: 0;
        padding: 20px;
        color: #fff !important;
        font-weight: normal;

        .alert-btn {
            display: inline-block;
            margin-left: 13px;
        }
    }
    
    .alert-dismissible .close {
        top: 10px;
    }

    .background-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 120vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
    }

    .alert-light {
        background: #BABFC7 !important;
    }
    
    .alert-primary {
        background: #ed1c24 !important;
    }

    .alert-danger {
        background: #EA5455 !important;
    }

    .alert-success {
        background: #28C76F !important;
    }

    .alert-dark-danger {
        background: #78272e !important;
    }
}

.select2-container--default {
    .select2-selection--single {
        .select2-selection__rendered {
          font-size: 13px;
          padding-left: 5px;
          line-height: 25px;
        }
    }
    .select2-selection--multiple {
        .select2-selection__choice {
            padding: 3px 5px;
            font-size: 13px;
        }
        .select2-search--inline {
            line-height: 17px;
        }
    }
}

.order-items-table {
    tr.service-tr td {
        padding-bottom: 0;
    }

    tr.subservice-tr {
        td {
            padding: 0.3rem 1rem;
        }
        &.edit-tr {
          display: none;
        }
    }
}

.inline-edit-icon {
  margin-left: 10px;
  cursor: pointer;
}


.inline-edit-section {
    .edit-control {
        display: none;
    }

    &.active {
        .edit-control {
            display: block;
        }
        .label-control {
            display: none;
        }
    }
}

.table-load {
    &.loading {
        position: relative;

        .loader {
            display: block;
        }

        .table {
            opacity: 0.3;
        }
    }

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
    }
}

.app-content {
    .wizard > .steps {
        .step i {
            position: relative;
            top: 1px;
            font-size: 19px;
        }
    }
}

.checkbox-label-section {
    position: relative;

    .mark-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        display: none;
    }
}

.custom-control-input.hide-checkbox + .custom-control-label::before {
    opacity: 0;
    display: none;
}
.custom-control-input.hide-checkbox:checked + .custom-control-label .mark-icon {
  display: block;
}

// kapil css Start here

.table-responsive {
  .dataTables_wrapper {
    .dataTables_paginate {
      ul.pagination {
        justify-content: flex-end;
      }
    }
  }
}

.table-data-nowrap {
  th,
  td {
    white-space: nowrap;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
}

.dropzone {
  .dz-message {
    font-size: 1.1rem;

    &:before {
      font-size: 40px;
    }
  }
  .dz-preview{
    margin: 0px 6px 0px 0px; 
   .dz-remove{
    font-size: 0.9rem; 
   } 
  } 
}

.table-responsive {
  .dataTables_length {
    padding-bottom: 10px;
  }
}

form {
  .controls {
    margin-bottom: 10px;
    margin-top: 5px;
  }
}

.btn {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.nav.nav-tabs.nav-justified .nav-item {
  width: 100%;
}

.custom-file {
  margin-top: 5px;
}

#dashboard-analytics {
  .card {
    .card-body {
      padding: 1rem;
    }
  }
}

.nav.nav-tabs .nav-item .nav-link {
  font-size: 1.2rem;
  margin-right: 18px;
}

.add-btn {
  margin-top: 7px;
  margin-left: -12px;
}

.header-navbar{
 .navbar-container{
  ul.nav{
   li{
    a.dropdown-user-link{
     .user-name{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 500px; 
     } 
    }  
   }   
  }  
 }  
} 

.invoice-total-table {
  table {
    tr {
      td.text-right {
        white-space: nowrap;
      }
    }
  }
}

.select2-container--open{
 .select2-dropdown{
  z-index: 9;
 } 
} 

.modal-backdrop.show + .select2-container--open{
 .select2-dropdown{
  z-index: 9999;
 } 
} 

.table.service-table{
 .controls{
  .input-group{
   flex-wrap: inherit;
  }
 }   
} 

.table.service-table{
 .controls{
  .input-group{
   .form-control{
    min-width: 60px;
    padding: 0.7rem 0.4rem;
   }  
  }  
 } 
} 

#trackGeo{
 display: block;
 margin-top: 5px;
}

.tab-content{
  .tab-pane{
   form{
    .card-header{
     padding: 0px;
    }   
   }  
  } 
}


@include media-breakpoint-down(xs) {

  // Vertical Layout
  body.vertical-layout {
    &:not(.horizontal-layout) {
      &.navbar-floating {
        .header-navbar {
          margin-left: 1.2rem;
          margin-right: 1.2rem;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  h2.content-header-title {
    font-size: 1.5rem;
  }

  .breadcrumb {
    display: none;
  }

  footer.footer {
    text-align: center;
  }

  .table-responsive {
    .dataTables_length {
      text-align: left !important;
    }

    .dataTables_filter {
      text-align: left !important;
      margin-left: -14px;
    }

    .dataTables_info {
      margin-right: -14px;
      text-align: left !important;
    }

    .dataTables_paginate.paging_simple_numbers {
      margin-left: -14px !important;
    }

    .dataTables_wrapper .dataTables_paginate ul.pagination {
      justify-content: flex-start;
    }
  }

  .dropzone {
    .dz-message {
     font-size: 1rem;
      &:before {
       font-size: 40px;
       top: 55px;
      }
    }
  }

  .cws-alert {
    .alert {
      .alert-btn {
        margin-top: 10px;
        display: block;
      }
    }
  }

  form {
    .steps {
      ul {
        li {
          font-size: 0px;
          width: 25% !important;
        }
      }
    }
  }

  .app-content {
    .wizard {
      .content {
        .body {
          padding: 0px;
        }
      }
    }
  }

  .tab-content{
   .tab-pane{
    form{
     .flex-column{
      button.btn-secondary{
       margin-left: 0px !important;
      }  
     } 
    }   
   } 
  } 

button.btn{
 white-space: nowrap;
}

.add-btn {
 margin-left: 0;
 text-align: right;
}

}

@media (max-width: 768px) {
  form {
    .steps {
      ul {
        li {
          width: 25% !important;
        }
      }
    }
  }

}

@media (max-width: 1024px) {
table.dataTable tr td{
 font-size: 12px;
}
.tab-content .tab-pane .card .card-content .card-body{
 padding: 10px;
}
.tab-content .tab-pane .card .card-content .card-body .card-title{
 font-size: 12px !important;
}
table.dataTable.compact-table td {
 padding: 0.6rem 0.5rem;
}

}

// kapil css End here



